@media(max-width: 1550px) {
  .header__right {
    max-width: 410px;
  }

  .logo {
    width: 120px;
    height: 40px;
  }

  .header__left {
    max-width: 370px;
  }
}

@media(max-width: 1500px) {
  .menu__btn {
    display: block;
    position: relative;
  }

  .header__right {
    margin-left: auto;
    padding-right: 20px;
    max-width: 440px;
  }

  .menu__wrapper {
    padding-left: 20px !important;
  }

  .menu {
    display: none;

    &.active {
      display: block;
      position: fixed;
      top: 0px;
      right: 0;
      width: 480px;
      height: 100vh;
      // height: 100%;
      bottom: 0;
      background-color: #fff;
      padding: 60px 0 0px 50px;
      display: flex;
      align-items: space-between;
      flex-wrap: wrap;
      z-index: 10;
    }
  }

  .mob__wrapper {
    width: 100%;
    margin-top: auto;
    padding-bottom: 70px;
  }

  .menu__list {
    display: block;
    margin-bottom: 15px;

    &+.menu__list {
      margin-left: 0;
    }
  }

  .menu__list-hover {
    border: none;
    padding-right: 17px;

    &::before {
      position: absolute;
      content: "";
      top: 7px;
      right: 0px;
      width: 12px;
      height: 7px;
      background-image: url('../images/icons/arrows__bottom.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    &:hover {
      border: none;

      .sub-menu.active {
        display: block;
      }
    }
  }

  .sub-menu {
    position: static;
    height: auto;
    padding-top: 15px !important;
    background-color: #fff;
  }


  .social-mob {
    display: block;
    margin-left: 10px;
  }

  .header__phone-mob {
    display: block;
    width: fit-content;
    padding: 10px 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .numbers__numbers {
    font-size: 50px;
    line-height: 60px;
  }

  .numbers__text {
    font-size: 20px;
    line-height: 24px;
  }















}

@media(max-width: 1400px) {
  .screen__title {
    // @extend %Acrom-Regular;
    font-size: 32px;
    line-height: 52px;
  }

  .screen__wrapper {
    height: 660px;
  }

  .screen__left {
    min-width: 600px;

    &::before {
      width: 350px;
      height: 580px;
    }
  }

  .leader__item-img {
    width: 290px;
    height: 310px;
  }
}

@media(max-width: 1300px) {
  .title {
    font-size: 24px;
    line-height: 29px;
  }

  .subtitle {
    font-size: 20px;
    line-height: 24px;
  }

  .text {
    font-size: 16px;
    line-height: 19px;
  }

  .about__right {
    width: 500px;
  }

  .about__item {
    width: 243px;
    height: 195px;
  }

  .about__item-long {
    width: 500px;
    height: 195px;
  }

  .products__wrapper {
    height: 466px;
  }

  .products__items {
    height: 233px;

    .products__subtitle {
      font-size: 16px;
      line-height: 19px;
    }
  }

}

@media(max-width: 1200px) {
  .screen__wrapper {
    height: 460px;
  }

  .screen__left {
    min-width: 600px;

    &::before {
      width: 248px;
      height: 400px;
    }
  }
}

@media(max-width: 1100px) {
  .screen__title {
    font-size: 24px;
    line-height: 44px;
  }

  .screen__left {
    min-width: 450px;
  }

  .leader__item-img {
    margin-bottom: 30px;
  }

  .leader__box-name {
    margin-bottom: 10px;
  }

  .leader__item {
    flex-wrap: wrap;
    justify-content: center;
  }

  .leader__box {
    max-width: 320px;
  }

  .company__inners {
    padding-left: 80px;
  }

  .company__item {
    padding: 0 15px;
  }

  .footer__logo {
    width: 100%;
    margin-bottom: 50px;
  }

  .footer__wrapper {
    flex-wrap: wrap;

  }
}

@media(max-width: 1000px) {
  .numbers__inner {
    flex-wrap: wrap;
    justify-content: center;
  }

  .numbers__item {
    margin-bottom: 50px;
    width: 300px;
  }

  .about__right {
    width: 243px;
  }

  .about__box {
    flex-wrap: wrap;
  }

  .products__wrapper {
    flex-wrap: wrap;
    height: auto;
    // justify-content: center;
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
  }

  .products__box {
    width: 100%;
  }

  .products__item {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
  }

  .products__items {
    margin-bottom: 20px;
    max-width: 340px;
    width: 100%;
    height: 250px;
  }

  .products__items-long {
    max-width: 100%;
  }

  .products__items,
  .products__item {
    &:hover {
      .products__bg {
        top: 15px;
      }
    }
  }

  .products__bg {
    top: 15px;
    right: 0px;
    bottom: auto;
    height: auto;
  }

  .company__wrapper {
    flex-wrap: wrap;
  }
}

@media(max-width: 900px) {
  .header__work {
    display: none;
  }

  .header__left {
    width: fit-content;
  }

  .footer__inner {
    display: block;
    max-width: 150px;
  }
}

@media(max-width: 800px) {
  .screen__right {
    display: none;
  }

  .screen__left {
    min-width: 100%;

    &::before {
      width: 190px;
      height: 300px;
    }
  }

  .screen__wrapper {
    height: 300px;
  }

  .footer__contacts {
    max-width: 100%;
    width: 100%;
  }
}

@media(max-width: 700px) {
  .header__right {
    width: fit-content;

    .social {
      display: none;
    }
  }

  .header__phone {
    padding: 0;
  }

  .section {
    padding: 30px 0;
  }

  .numbers__item {
    margin-bottom: 30px;
  }
  .about__left{
    padding-right: 0;
  }
  .about__right {
    display: none;
  }

  .about__btn-wrapper {
    text-align: center;
    width: 100%;
  }

  .leader__item-img {
    width: 225px;
    height: 242px;
  }

  .leader__box {
    width: 255px;
  }

  .products__wrapper {
    max-width: 532px;
  }

  .products__item {
    height: 387px;
  }

  .products__items {
    max-width: 256px;
    width: 100%;
    height: 186px;
  }

  .products__items-long {
    max-width: 100%;
  }

  .products__bg {
    padding: 10px;
  }

  .company__inner {
    flex-wrap: wrap;
    justify-content: center;
  }

  .company__item {
    max-width: 170px;
    width: 100%;
    margin-bottom: 50px;
  }

  .company__items {
    max-width: 150px;
    width: 100%;
    padding-left: 0;
  }
}

@media(max-width: 650px) {
  .menu.active {
    max-width: 100%;
    max-width: 100%;
  }

  .feedback__inner {
    flex-wrap: wrap;
    justify-content: center;
  }

  .feedback__box {

    text-align: center;
  }

  .feedback__item {
    max-width: 295px;
  }
}

@media(max-width: 600px) {
  .footer__wrapper {
    justify-content: center;
  }
.footer__info{
  order: 1;
}
  .footer__inner {
    max-width: 350px;
    margin-bottom: 30px;
  }
  .footer__contacts{
    max-width: 370px;
    margin-bottom: 30px;
  }
}

@media(max-width: 550px) {
  .screen__wrapper {
    height: 230px;
  }

  .screen__title {
    font-size: 20px;
    line-height: 30px;
  }

  .screen__left {
    &::before {
      width: 145px;
      height: 230px;
    }
  }

  .leader__inner {
    flex-wrap: wrap;
  }

  .leader__item-img {
    margin: 0 15px 30px;
  }

  .leader__box {
    width: 235px;
  }

  .products__wrapper {
    justify-content: center;
  }

  .products__item,
  .products__items {
    max-width: 300px;
    width: 100%;
    height: 217px;
  }

  .products__inner {
    flex-wrap: wrap;
    justify-content: center;
  }

  .products__items-long {
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .products__subtitle {
    font-size: 16px;
    line-height: 19px;
  }

  .company__item {
    max-width: 550px;
  }

  .company__inner {
    margin-bottom: 0;
  }

  .company__inners {
    padding-left: 0;
  }

}

@media(max-width: 450px) {

  .header__phone {
    font-size: 14px;
    line-height: 22px;
    padding-left: 8px;
  }
  .footer__wrapper{
    justify-content: flex-start;
  }
  .footer__contacts{
    max-width: 350px;
  }
  .footer__phone,
  .footer__email {
    display: block;
    margin-bottom: 20px;
    padding-left: 0px;
  }
}

@media(max-width: 380px) {
  .logo {
    width: 90px;
    height: 30px;
  }

  .numbers__numbers {
    font-size: 40px;
    line-height: 48px;
  }

  .numbers__text {
    font-size: 16px;
    line-height: 19px;
  }
}