%Acrom-Regular {
  font-family: 'Acrom', sans-serif;
  font-weight: normal;
  font-style: normal;
  display: swap;
}

%Acrom-Medium {
  font-family: 'Acrom', sans-serif;
  font-weight: 500;
  font-style: normal;
  display: swap;
}

%Acrom-Bold {
  font-family: 'Acrom', sans-serif;
  font-weight: bold;
  font-style: normal;
  display: swap;
}



// $blue: #ABD0D3;
// $text: #F2F1ED;
$background: #f5f5f5;
// $line: #BCB3A9;