@import 'vars';
@import 'reset';
@import 'global';
@import 'fonts';

// start header
.header {
  padding: 15px;
  // max-width: 1756px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: $background;
  z-index: 10;
}

.header__wrapper {
  max-width: 1756px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
  height: 50px;
}

.header__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 420px;
  width: 100%;
}

.header__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 440px;
  width: 100%;
}

.header__work {
  font-size: 14px;
  line-height: 17px;
}

// .menu{
//   z-index: 110;
// }
.menu__list {
  display: inline-block;
  font-size: 14px;
  line-height: 22px;
  border-bottom: 2px solid transparent;
  transition: all .3s;
  text-transform: uppercase;
  width: fit-content;

  &:hover {
    color: $blue;
    border-bottom: 2px solid $blue;
  }

  &+.menu__list {
    margin-left: 40px;
  }

}

.menu__list-hover {
  position: relative;
  cursor: pointer;
  z-index: 10;

  &:hover {
    .sub-menu {
      display: block;
    }
  }

  &::before {
    position: absolute;
    content: "";
    top: 7px;
    right: -17px;
    width: 12px;
    height: 7px;
    background-image: url('../images/icons/arrows__bottom.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.sub-menu {
  position: absolute;
  top: 24px;
  left: -10px;
  padding: 15px 10px 0 !important;
  display: none;
  z-index: 1;
  background-color: $background;
  border-radius: 5px !important;
  margin-bottom: 0;
}

.sub-menu__list {
  margin-bottom: 15px;
  color: #000;
  border-bottom: 2px solid transparent;
  transition: all .3s;
  width: fit-content;
  // padding: 0 10px;

  &:hover {
    color: $blue;
    border-bottom: 2px solid $blue;
  }
}

.social__list {
  display: inline-block;

  &+.social__list {
    margin-left: 5px;
  }

  padding: 10px 10px 5px 10px;
  transition: all .3s;
  border: 2px solid transparent;

  &:hover {
    background-color: #fff;
    border: 2px solid $blue;
    border-radius: 5px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
  }
}

.social__img {
  width: 25px;
  height: 25px;
}


.header__phone {
  @extend %Acrom-Bold;
  transition: all .3s;
  color: $blue;
  padding: 10px 20px;
  border: 2px solid transparent;

  &:hover {
    background-color: #fff;
    border: 2px solid $blue;
    border-radius: 5px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
  }
}

// end header



// start section screen
.screen{
  margin-top: 79px;
}
.screen__wrapper {
  display: flex;
  justify-content: space-between;
  height: 870px;
}

.screen__left {
  min-width: 840px;
  // width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0px 15px;

  &::before {
    position: absolute;
    content: '';
    width: 479px;
    height: 763px;
    background-image: url('../images/content/screen__bg.png');
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.screen__right {
  max-width: 1050px;
  width: 100%;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));

  img {
    border-radius: 5px;
    height: 100%;
  }

  background-image: url('../images/content/screen__img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.screen__title {
  @extend %Acrom-Regular;
  font-size: 48px;
  line-height: 68px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  max-width: 750px;
  // width: 100%;


}

.screen__pink {
  color: $pink;
}

.screen__green {
  color: $green;
}

.screen__blue {
  color: #00BDEF;
}

// end section screen



// start section numbers
.numbers {
  background-color: $light-blue;
}

.numbers__inner {
  display: flex;
  justify-content: space-between;
}

.numbers__numbers {
  text-transform: uppercase;
  font-size: 80px;
  line-height: 96px;
  @extend %Acrom-Bold;
  color: $blue;
}

.numbers__text {
  @extend %Acrom-Regular;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
}


// end section numbers


// start section about
.about__wrapper {
  display: flex;
  justify-content: space-between;
}

.about__left {
  // width: 50%;
  width: 776px;
  padding-right: 20px;
}

.about__subtitle {
  margin-bottom: 30px;
  @extend %Acrom-Regular;
}

.about__services {
  margin-bottom: 30px;
}

.about__list {
  margin-bottom: 15px;
  padding-left: 15px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #000;
    top: 9px;
    left: 0;

  }
}

.about__text {
  margin-bottom: 50px;
}

.about__right {
  // width: 50%;
  max-width: 675px;
  width: 100%;
}

.about__box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.about__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about__item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 10.6981px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 328px;
  height: 263px;
  margin-bottom: 20px;
}

.about__item-long {
  width: 675px;
  height: 263px;
}


// end section about


// start section leader

.leader__inner {
  display: flex;
  justify-content: space-between;
}

.leader__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.leader__box {
  max-width: 300px;
  width: 100%;
  padding-right: 14px;
}

.leader__box-name {
  margin-bottom: 30px;
}

.leader__box-function {
  font-size: 16px;
  line-height: 19px;
}

.leader__item-img {
  width: 440px;
  height: 470px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  margin-right: 30px;
}



// end section leader


// start section products

.products {
  background-color: $light-blue;
}

.products__wrapper {
  display: flex;
  justify-content: space-between;
  height: 700px;
  margin-bottom: 50px;
}

.products__item {
  width: 50%;
}

.products__box {
  width: 50%;
}

.products__inner {
  display: flex;
  justify-content: space-between;
}

.products__items,
.products__item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  border: 3px solid doted;
  border-radius: 5px;
  transition: all .1s;
  // padding-top: 30px;
  position: relative;

  &:hover {

    //  border: 3px solid $blue;
    // padding-top: 30px;
    .products__bg {
      // opacity: 0;
      // height: 130px;
      top: 30px;
      bottom: auto;
      height: auto;

    }

  }
}

.products__items {
  max-width: 480px;
  width: 100%;
  height: 350px;
}

.products__items-long {
  max-width: 960px;
  width: 100%;
}


.products__bg {
  background-color: #fff;
  opacity: 0.7;
  height: 100%;
  transition: all .5s;
  text-align: center;
  padding: 27px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.products__subtitle {
  @extend %Acrom-Medium;
  font-size: 24px;
  line-height: 29px;
  transition: all .5s
}

.products__subtitle-mini {
  @extend %Acrom-Medium;
  font-size: 20px;
  line-height: 24px;
  transition: all .5s
}

// end section products



// start section company

.company__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.company__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 850px;
  width: 100%;
}

.company__inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 50px;
}

.company__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.company__inners {
  padding-left: 130px;
  max-width: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
}







// end section company


// start section feedback
.feedback{
  background-color: $light-blue;
}
.feedback__inner {
  display: flex;
  justify-content: space-between;
  max-width: 610px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;

}

.feedback__item {
  padding: 10px 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid $blue;
  width: 100%;
 max-width: 295px;
 width: 100%;
   font-size: 16px;
   line-height: 28px;
   color: #BBBBBB;
   text-transform: uppercase;
}

.feedback__items {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid $blue;
  width: 100%;
  max-width: 295px;
  width: 100%;
    font-size: 16px;
    line-height: 18px;
    color: #BBBBBB;
    text-transform: uppercase;
    resize: none;

  &:last-child {
    margin-bottom: 15px;
  }
}



// end section feedback



// start footer
.footer{
  font-size: 14px;
  line-height: 17px;
}
.footer__wrapper{
   display: flex;
   justify-content: space-between;
}
.footer__info-text{
  margin-bottom: 20px;
}
.footer__info-politics,
.footer__info-lapki {
  display: block;
  margin-bottom: 20px;
  border-bottom: 1px solid transparent;
  width: fit-content;
  transition: all .3s;
  &:hover{
    border-bottom: 1px solid $blue;
  }
}
.footer__inner{
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  width: 100%;
}
.footer__menu-list{
  margin-bottom: 20px;
  border-bottom: 1px solid transparent;
  width: fit-content;
  transition: all .3s;
  &:hover {
    border-bottom: 1px solid $blue;
  }
}
.footer__phone,
.footer__email {
  display: block;
  margin-bottom: 20px;
  padding-left: 10px;
}



// end footer



@import 'media';